<div class="containerForm">

<h2>Edit new Celebrity</h2>
<form action="" method="post">
  <div class="rowForm">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{celebrity.name}}">
</div>
<div class="rowForm">
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}">
</div>
<div class="rowForm">
  <label for="catchPhrase">CatchPhrase</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
</div>
  <button type="submit">Edit</button>

</form>

</div>