<div class="containerForm">
  <h2>Add new Celebrity</h2>
  <form action="" method="post">
    
    <div class="rowForm">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>

    <div class="rowForm">
      <label for="occupation">Occupation</label>
      <input type="text" name="occupation">
    </div>
    <div class="rowForm">
      <label for="catchPhrase">CatchPhrase</label>
      <input type="text" name="catchPhrase">
    </div>

    <button type="submit">Create</button>

  </form>

</div>